<?xml version="1.0" encoding="utf-8"?>
<module>
    <assemblies>
	    <!-- This adds the Alloy template assembly to the "default module" -->
        <add assembly="EpiserverLabSite" />
    </assemblies>
    <clientResources>
        <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>
      <!--<add name="epi-cms.widgets.base" path="/displayresolutions/displayresolutions.css" resourceType="Style" isMinified="false" />-->
      <add name="epi-cms.widgets.base"  path="Styles/show-property-descriptions.css" resourceType="Style" />
      <add name="epi-cms.widgets.base"    path="Styles/max-size-on-main-image.css"  resourceType="Style" />
    </clientResources>
    <dojo>
        <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
        <paths>
            <add name="alloy" path="Scripts" />
        </paths>
    </dojo>
</module>
