@import url("LayoutIcons.css");

.epiStringList .dijitTextArea {
    width: 250px;
}

.epiStringList .epiStringListError .dijitTextArea {
    border: solid 1px #d46464;
}
/*.epiString {
    width:100px;
    height:100px;
    background-size:cover;
    background-repeat:no-repeat;
    border: 10px dashed hotpink;

    background-image: url('../Images/IMG_5630_2.jpg');
}
    .epiString textarea {
    
    display:none;
    }*/
